.projectContainer {

    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #aaabb8;
    font-family: 'Oxanium', cursive;
}
.projectCard {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: #2e9cca;
    color: #25274d;
    box-shadow: 0px 0px 10px #25274d, 0px 0px 10px #25274d;
}
.projectCard h1 {
    text-align: center;
    margin-top: 15px;
    padding: 10px;
}
#linkDiv {
    text-align: center;
}
#linkDiv a {
    color: #25274d;
    justify-self: center;
    margin-left: 10px;
    margin-right: 10px;
}
img {
    width: 35%;
    height: 175px;
    padding: 15px;
    border-radius: 30px;
    float: left;
}
#projectText {
    overflow: auto;
    padding: 15px;
}
@media only screen and (max-width: 992px) {
    img {
        width: 60%;
        height: 225px;
    }
}
@media only screen and (max-width: 768px) {
    img {
        
        width: 100%;
        height: 275px;
        float: none;
    }
    #projectText {
        text-align: center;
    }
}
@media only screen and (max-width: 576px) {
    img {
        
        height: 200px;
        float: none;
    }
    #projectText {
        text-align: center;
    }
}