.projectContainer {
    margin-top: 15px;
    margin-bottom: 20px;
}
#projectText {
    display: block;
    text-align: center;
    overflow: auto;
}
.leftCard {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 15px;
    border: 1px solid black;
}
.leftCard img {
    height: 95%;
    width: 40%;
    float: left;
}
.leftCard h1 {
    font-size: 25px;
}
.leftCard h3 {
    font-size: 20px;
}
.leftCard p {
    font-size: 15px;
}
.rightCard {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 15px;
    border: 1px solid black;
}
.rightCard img {
    height: 95%;
    width: 40%;
    float: right;
}
.rightCard h1 {
    font-size: 25px;
}
.rightCard h3 {
    font-size: 20px;
}
.rightCard p {
    font-size: 15px;
}
#linkDiv a {
    margin-left: 5px;
    margin-right: 5px; 
}