#contactForm {
    background-color: white;
    font-family: 'Oxanium', cursive;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
#contactForm input {
    width: 100%;
}
#contactForm textarea {
    width: 100%;
}