#socialDiv {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
    font-family: 'Oxanium', cursive;
    background-color: #aaabb8;
    color: #25274d;
}
#iconsDiv a {
    color: #25274d;
    margin-left: 15px;
    margin-right: 15px;
}
#iconsDiv a:hover {
    color: #2e9cca;
    text-decoration: none;

}