.projectTitle {
    margin-top: 8vh;
    width: 100%;
    padding: 50px;
    background-color: #c5c6c7;
    color: #0b0c10;
    font-family: 'Oxanium', cursive;
}
.projectTitle h1 {
    font-size: 60px;
    margin-left: 50px;
}
.projectTitle p {
    text-align: center;
}