nav {
    height: 8vh;
    font-family: 'Oxanium', cursive;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
nav button {
    color: black;
}
.sticky {
    position: fixed;
    top: 0;
    /* width: 100%; */
}
@media only screen and (max-width: 800px) {
    .sticky {
        width: 100%;
    }
}