.aboutDiv {
    margin-top: 5vh;
    margin-bottom: 1vh;
    font-family: 'Oxanium', cursive;
    background-color: #aaabb8;
    width: 100%;
    min-height: 85vh;
}
.aboutDiv h1 {
    font-size: 60px;
    margin-left: 100px;
    margin-top: 20px;
    padding-top: 75px;
    color: #25274d;
}
#infoDiv {
    align-self: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}
i {
    margin-bottom: 10px;
}
#infoDiv div {
    background-color: #2e9cca;
    color: #25274d;
}
#pastDiv {
    padding: 25px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 4%;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #25274d; 
}
#programmerDiv {
    padding: 25px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 4%;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #25274d;
}
#funDiv {
    padding: 25px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 4%;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #25274d;
}
@media only screen and (max-width: 900px) {
    .aboutDiv h1 {
        margin-left: 0px;
        text-align: center;
    }
    #infoDiv {
        display: block;
        padding-bottom: 20px;
    }
}