nav {
    font-family: 'Oxanium', cursive;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #25274d;
}
.navbar-toggler {
    background-color: #2e9cca;
}
#hamburger {
    margin-top: 3px;
    margin-bottom: 0px;
}
nav a {
    color: #2e9cca;

}
nav a:hover {
    color: #29648a;
}
nav button span {
    background-color: #2e9cca;
}
